a{text-decoration: none;color: white;width: 80px;height: 30px;display: block;}
li:hover a{transform: scale(1.3);}
.nav{
	position: relative;
	top:120px;
	margin:0 auto;
	width: 990px;
	height: 30px;
	background: rgba(62,139,255,0.7);
	border-radius: 20px;
}
.nav-left{
    position: relative;
    font: bold 15px "微软雅黑";
    color: white;
    margin-left: -15px;
    top: 5px;
}
.nav-left li{
	display: inline-block;
	margin-left: 75px;
}
.nav-right{
	position: relative;
    font: bold 15px "微软雅黑";
    color: white;
    float: right;
    margin-right: 17px;
    top: -25px;
}
.nav-right li{
	display: inline-block;
	margin-left: 75px;
}
.logo{
	position: absolute;
	margin-top: 65px;
	margin-left: 616px;
}
.information{
	position: absolute;
    margin-top: 70px;
    margin-left: 215px;
}
.video{
	position: absolute;
    margin-top: 70px;
    margin-left: 395px;
}
.game{
	position: absolute;
    margin-top: 65px;
    margin-left: 580px;
}
.friend{
	position: absolute;
    margin-top: 65px;
    right: 540px;
}
.download{
	position: absolute;
    margin-top: 65px;
    right: 405px;
}
.vip{
	position: absolute;
    margin-top: 65px;
    right: 240px;
}