body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
 
.body{width:100%;height:100%;}
a{ text-decoration:none}
.member{width:100%;
      height:100%;
	  background:#7ebbe3;}
.main{width:75%;
      height:80%;
	  background:white;
	  position:absolute;
	  left:12%;
	  top:1%;
 }
.title{ position: absolute;
		    top: 5%;
			left: 2%;
			font-style: oblique;
			color:#5697bf;
			}
.sidebar{height:238;
         width:150;
		 border:5px solid #f6fafd;
		 position:relative;
		 top:110;
		 left:20;
		 border-radius:10px;
         }
		 

.nav{
	width:130px;
	height:40px;
	background:#7ebbe3;
	position:relative;
	top:20;
	left:10;
	 border-radius:10px;
	 color:white;
	 font-size:20px;
	 font-family:"黑体""宋体"}
.logo_left{width:218;
           height:238;
		   background:#93d0e5;
		    border-radius:10px;
			position:absolute;
			top:110;
			left:200}
.pic_left{margin-left:10;}
.logo_center{width:254;
           height:238;
		   background:#93d0e5;
		    border-radius:10px;
			position:absolute;
			top:110;
			left:430}
.logo_right{width:218;
           height:238;
		   background:#bbdbea;
		    border-radius:10px;
			position:absolute;
			top:110;
			right:40;}
.pic_left{margin-left:10;}
h2{color:red;
   text-align:center;
   font-family: "黑体""宋体";
   font-style:oblique;
  }
 .h2{ position:relative;
      top:130;
	  left:-100;
	  color:#7ebbe3}
.img{position:relative;
      left:560;
	  top:-80;}
h5{position:relative;
   top:540;
   text-align:center}
